.header-el{
    margin: auto;
    width: 100%;
    height: 10vh;
    background: black;
}
.header{
    width: 100%;
    height: 10vh;
    padding: 2px  0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 0px 0px var(--primary_color);
    padding: .5% 0%;
    background: var(--black_color);
    position: fixed;
    margin-top: -.5em;
    z-index: 2;
}
.header h1{
    color: var(--primary_color);
    font-size: 1.5em;
}

.header .menu-el{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4%;
}

.header p a{
    color: var(--primary_color);
    text-decoration: none;
}
.header p a:hover{
    opacity: .7;
}
.logo{
    display: flex;
    align-items: center;
    min-width: 16em;
}
.logo-img{
    width: 40%;
    overflow: hidden;
    object-fit: cover;
}
.logo img{
    width: 6em;
}
.menu-small{
    display: none;
}
.menu__cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    width: 60%;
    padding: 0px 20px;
}
.navbar-menu {
    margin-left: 1rem;
    padding-right: 20px;
    display: none;
    position: relative;
}

.navbar-menu img {
    cursor: pointer;
}
.navbar-menu_container-links-sign{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--black_color);
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
}
.navbar-menu_container-links-sign ul li{
    list-style: none;
    padding: 10px 20px;
    margin: 1em;
}
.navbar-menu_container-links-sign ul li a{
    color: var(--primary_color);
    text-decoration: none;
}

.navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.navbar-menu_container p {
    margin: 1rem 0;
}

.navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .navbar-links_container {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 2rem 4rem;
    }
    .navbar-menu {
        display: flex;
    }
    .menu__cont{
        display: none;
    }
    .header{
        opacity: 1;
        z-index: 2;
    }
}

@media screen and (max-width: 550px) {
    .navbar {
        padding: 2rem;
    }

    .navbar-sign {
        display: none;
    }

    .navbar-menu_container {
        top: 20px;
    }

    .navbar-menu_container-links-sign {
        display: block;
    }
}

@media screen and (max-width:1052px) {
    .header .menu-el{
        width: 60%;
    }
}
@media screen and (max-width:753px) {
    .btn{
        display: none;
    }
}
@media screen and (max-width:720px) {
    .header .menu-el{
        width: 70%;
    }
}
@media screen and (max-width:611px) {
    .header .menu-el{
        display: none;
    }
    .menu-small p{
        margin: 15%;
        padding: 1em 2em;
    }
    .menu-small a{
        text-decoration: none;
        color: var(--secondary_color);
    }
    .menu-small .btn{
        margin: auto;
        padding:10px 20px;
        display: block;
        background: #000;
    }
}

.icon{
    color: #fff;
    cursor: pointer;
}


.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width:45em){
    .logo{
        float: left;
    }
}