footer{
    padding: 10px 20px;
}
.footer_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left{
    color: var(--secondary_color);
    font-size: .9em;
    opacity: .7;
    display: flex;
    flex-direction: column;
}
.footer-left .logo-img{
    display: flex;
    color: var(--primary_color);
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
}

.foot_log_img_container{
    width: 12em;
    height: 6em;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
}
.foot-cards{
    width: 100%;
}
form label{
    color: var(--primary_color);
}
.form_div{
    display: flex;
    align-items: center;
    gap: 1%;
}

form input{
    padding: 10px 20px;
    background: #0d161e;
    outline: none;
    color:var(--secondary_color);
    border-radius: 25px;
    margin-right: 1%;
}
.footer_links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_links ul li{
    list-style: none;
    opacity: .6;
    padding: 10px;
}
.footer_links ul li a{
    color: var(--secondary_color);
    text-decoration: none;
    padding: 10px 20px;
}
.footer_links ul li a:hover{
    color: var(--primary_color);
}
.media_container, .footer_links{
    text-align: center;
    color: var(--primary_color);
}
.media_container h1, .footer_links h1{
    opacity: .6;
    font-size: 1.5em;
}
.media_img{
    display: flex;
    align-items: center;
    opacity: .6;
    gap: 1em;
    cursor: pointer;
}
.social_icons{
    color: var(--secondary_color);
}
.social_icons:hover{
    color: var(--primary_color);
}
.media_img p{
    color: var(--secondary_color);
}
.media_img p:hover{
    color: var(--primary_color);
}
.copyright{
    color: var(--secondary_color);
    font-size: 1em;
    opacity: .6;
}
.curve_foot{
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

@media(max-width:53.2em){
    footer{
        text-align: center;
    }
    .footer_max_log{
        display: flex;
        justify-content: center;
    }
.footer_items{
    flex-direction: column;
}
.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 90%;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
}

@media screen and (max-width:45em) {
    .form_div{
        flex-direction: column;
    }
    
}