footer{
    margin-top: 2%;
    border-top: 2px solid #0d161e;
    padding: 10px 20px;
}
.footer_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left{
    color: var(--secondary_color);
    font-size: .9em;
    opacity: .7;
    min-width: 40%;
}
.logo-img{
    display: flex;
    color: var(--primary_color);
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}
.logo-img p{
    margin-left: -3%;

}
form label{
    color: var(--primary_color);
}

form input{
    padding: 10px 20px;
    background: #0d161e;
    outline: none;
    color:var(--secondary_color);
    border-radius: 25px;
    margin-right: 1%;
}
.footer_links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_links ul li{
    list-style: none;
    opacity: .6;
    padding: 10px;
}
.footer_links ul li a{
    color: var(--secondary_color);
    text-decoration: none;
    padding: 10px 20px;
}
.media_container, .footer_links{
    text-align: center;
    color: var(--primary_color);
}
.media_container h1, .footer_links h1{
    opacity: .6;
    font-size: 1.5em;
}
.media_img{
    display: flex;
    align-items: center;
    opacity: .6;
    gap: 1em;
}
.social_icons{
    color: var(--secondary_color);
}
.media_img p{
    color: var(--secondary_color);
}
.copyright{
    color: var(--secondary_color);
    font-size: 1em;
    opacity: .6;
}