.testimonial-card{
    width: 15em;
    height: 15em;
    background:linear-gradient(to bottom, #08213D 0%, #0e161e 100%);
    border-radius: 10px;
    padding: 20px 20px;
}
.testimonial-img{
    width: 2.5em;
    height: 2.5em;
    background: var(--primary_color);
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
}
.testimonial-card h1{
    font-size: 1em;
    font-weight: bold;
    color: var(--secondary_color);
    opacity: .7;
}
.testimonial-card p{
    font-size: .9em;
    color: var(--secondary_color);
    opacity: .6;
}