@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap');
:root {
  font-family: "Poppins", sans-serif;
  --primary_color: #3399ff;
  --secondary_color: #fff;
  --black_color:#0f1214;
  background-color: #0f1214;
  --shadow-color:#6f4961;
}
/* 
background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */