.events{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-direction: column;
}
.events h1{
    font-size: 3em;
    color: var(--primary_color);
    text-align: center;
    opacity: .7;
}
.events span{
    color: var(--secondary_color);
    opacity: .7;
}
.club_meet_container{
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2em;
    justify-content: center;
}

@media (max-width:52.5em) {
    .events h1{
        font-size: 2em;
    }
}