.home_hero{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: row-reverse;
}
.home_hero_content{
    width: 50%;
    opacity: .6;
}
.home_hero .home_hero_content h1{
    text-transform: capitalize;
    color: var(--primary_color);
    font-size: 3em;
}
.home_hero .home_hero_content span{
    color: var(--secondary_color);
}
.home_hero_content p{
    color: var(--secondary_color);
    font-size: .9em;
    margin-bottom: 4%;
}
.home_hero_img{
    width: 50%;
    overflow: hidden;
    object-fit: contain;
    height: 100vh;
}
.why-us, .heading{
    text-align: center;
    color: var(--secondary_color);
    opacity: .4;
    text-transform: capitalize;
}

.topics{
    margin: auto;
    width: 90%;
    min-height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-us{
    padding: 2% 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.text-left{
    width: 50%;
}
.about-us-heading h1{
    color: var(--primary_color);
    opacity: .4;
}
.text-left .about-us-heading p{
    color: var(--secondary_color);
    opacity: .4;
    font-weight: bold;
}
.text-left p{
    color: var(--secondary_color);
    opacity: .4;
}
.text-left span{
    color: var(--primary_color);
    font-weight: 600;
}
.about-right{
    width: 50%;
    height: 70vh;
    overflow: hidden;
    object-fit: contain;
}
.heading{
    margin-top: 2%;
}
.heading h1{
    color: var(--primary_color);
}
.heading p{
    color: var(--secondary_color);
    font-weight: bold;
    opacity:1;
}
.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.textimonial_container{
    margin: 2% auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}
.call_to_action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
    font-size: 1.5em;
    color: var(--primary_color);
    opacity: .4;
}
.call_to_action_msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.call_to_action_msg p{
    color: var(--secondary_color);
    font-size: 1em;
}

@media(max-width:66em){
    .home_hero_content{
        width: 40%;
    }
}
@media(max-width:61.9em){
    .home_hero{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .home_hero_content{
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .home_hero_img{
        height: 60vh;
    }
    .call_to_action{
        margin-top: 1%;
        flex-direction: column;
    }
    
}
@media(max-width:54.3em){
    .home_hero .home_hero_content h1{
        font-size: 2em;
    }
    .about-us{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-left{
        margin: auto;
        width: 90%;
        text-align: center;
    }
    .about-right{
        margin:5% auto;
        width: 80%;
    }
    .heading{
        margin: auto;
        width: 90%;
        text-align: center;
    }
    .topics{
        margin: auto;
        width: 90%;
    }
    .call_to_action_msg{
        margin: auto;
        width: 90%;
        text-align: center;
    }
    .call_to_action_msg h1{
        font-size: 1.6em;
    }
    .home_hero_img{
        height: auto;
    }
}
@media(max-width:31em){
    .testimonials{
        margin-top: -6em;
    }
    .heading h1{
        font-size: 1.5em;
    }
    .home_hero_img{
        margin: auto;
        width: 90%;
    }
}